---
name: Testing
on: push
jobs:
  build:
    strategy:
      matrix:
        kubernetes_version:
          #          - "kindest/node:v1.20.0"
          #          - "kindest/node:v1.19.1"
          #          - "kindest/node:v1.18.8"
          #          - "kindest/node:v1.17.11"
          - "kindest/node:v1.16.15"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Kubectl
        uses: azure/setup-kubectl@v1

      - name: Setup helmfile
        uses: mamezou-tech/setup-helmfile@v0.7.0
        with:
          helmfile-version: "v0.138.3"
          helm-version: "v3.5.2"

      - name: Create Kind Cluster
        uses: helm/kind-action@v1.1.0
        with:
          node_image: ${{ matrix.kubernetes_version }}

      - name: Deploy Chart
        run: |
          helmfile sync

      - name: Debug Failures
        if: ${{ failure() }}
        run: |
          kubectl get all --namespace jenkins
          kubectl describe pod jenkins-0 --namespace jenkins
          kubectl logs jenkins-0 -c jenkins --namespace jenkins
